*{
  box-sizing: border-box;
}
body{
  text-align: center;
}
.box{
  background-color: red;
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
  display: inline-block;
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(232, 55, 236, .4);
  transition: 3s ease;
}
.box:hover{
  box-shadow: 30px 30px 10px rgba(62, 14, 52, .5);
  transform: translateX(20px);
  background-color: purple;
}
